# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs
*.log
log-*.log
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
